@import 'variables';
#profile-status {
  & .mat-mini-fab {
    background-color: $success !important;
    overflow: hidden;
    & .mat-icon,
    img {
      width: 40px;
      height: 40px;
      margin-top: -8px;
    }
  }
  & span {
    border: 2px solid $success;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: $white;
    margin: 0 0 0 -12px;
    padding: 0 10px 0 15px;
    width: 60px;
  }
}
