<div id="profile-status" fxLayout="row" fxLayoutAlign="center center">
  <div class="m-r-10 score-card" fxLayout="row" fxLayoutAlign="center center">
    <button class="c-none" mat-mini-fab>
      <mat-icon svgIcon="scoreImage"></mat-icon>
    </button>
    <span>{{ scoreValue }}</span>
  </div>
  <div class="m-r-10 score-card" fxLayout="row" fxLayoutAlign="center center">
    <button class="c-none" mat-mini-fab>
      <mat-icon svgIcon="badgeImage"></mat-icon>
    </button>
    <span>{{ badgeValue }}</span>
  </div>
  <button mat-mini-fab>
    <mat-icon class="material-icons">
      <img class="m-t-0" src="./../../../assets/images/profileImage.png" alt="">
    </mat-icon>
  </button>
</div>