<div fxFlex fxLayout="row" class="">
  <div fxFlex="40" fxFlex.md="20" class="myprojects-left" style="background: url('http://dqfevutdn6sxd.cloudfront.net/monkey_menace/bg_jungle1.jpg') no-repeat ;
  background-size: cover;">
    <img src="http://dqfevutdn6sxd.cloudfront.net/monkey_menace/monkey1.png">
  </div>
  <div fxFlex="60" fxFlex.md="80" class="myprojects-right">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <h2>Monkey Menace</h2>
    </div>
    <div fxFlex fxLayout="row" class="grey-bg pos-relative" fxLayoutAlign="start center">
      <label>Level :</label>
      <div fxLayout="row" fxFlex>
        <div *ngFor="let level of levels">
          <button mat-icon-button *ngIf="level.status === 'Completed'" (click)="showModulesToogle(level)" [ngClass]="!showHide? '': 'active'">
            <mat-icon class="completed">check_circle_outline</mat-icon>
          </button>
          <button mat-icon-button *ngIf="level.status == 'Inprogress'">
            <mat-icon class="inprogress">radio_button_checked</mat-icon>
          </button>
          <button mat-icon-button class="disabled" *ngIf="level.status == 'Locked'">
            <mat-icon class="unlock">lock</mat-icon>
          </button>
        </div>
      </div>
      <div class="drop-down-content" *ngIf="showHide">
        <div class="x-scroll" fxLayout="row" fxLayoutAlign="start center">
<div fxLayout="column" fxFlex="25" *ngFor="let module of selectedLevel.modules" class="m-r-15" routerLink="/{{module.link}}">

            <div class="level-box"></div>
            <label>{{module.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="p-20" fxFlex fxLayout="column" fxLayoutAlign="start start">
      <p class="p-b-10">Badges Unlocked : 05/20</p>
      <p>Challanges Completed : 01/06</p>
    </div>
    <div fxFlex fxLayoutAlign="center center" class="p-20">
      <button mat-raised-button class="blue-btn" (click)="resume()">
        <mat-icon>keyboard_arrow_right</mat-icon>Resume
      </button>
    </div>
  </div>
</div>