<app-loading *ngIf="loading"></app-loading>
<div class="avatar-card" *ngIf="!loading">
  <div class="avatar-header">
    <span> Choose your avatar</span>
  </div>
  <div class="avatar-options" [ngStyle]="{'margin': auto}">
    <div class="character-div" id="{{ avatar }}" *ngFor="let avatar of characterList" (click)="card($event)"
    [ngStyle]="{'border-color': charValue == avatar ? 'rgba(102, 102, 153, 1)': 'transparent'}">
      <img id="{{ avatar }}" src="assets/images/avatar/{{avatar}}.png" alt="">
    </div>
  </div>
  <div class="action-div">
    <input type="button" [disabled]="!imageSelectFlag" [ngStyle]="{'opacity': imageSelectFlag? '1': '0.5', 'cursor': imageSelectFlag ? 'pointer' : 'default'}" (click)="namepopUp(charValue)"
      value="CONFIRM">
  </div>
</div>
<div class="shadow-popup" [hidden]="!namePopupActive">
  <div class="name-popup-box">
    <div class="image-area">
      <img src="assets/images/avatar/{{charValue}}.png" alt="">
    </div>
    <div class="name-area">
      <div class="name-card">
        <span class="name-header">Give your avatar a name</span>
        <input class="name-section" (input)="checkLength($event)" type="text" name="" #nameInput>
        <input class="action-section" [disabled]="!checkLengthFlag" type="button" [ngStyle]="{'opacity': checkLengthFlag ? '1' : '0.6'}"
          (click)="nameSubmit(nameInput.value)" value="SUBMIT">
      </div>
    </div>
  </div>
</div>