.quiz-container {
    position: absolute;
    width: 100%;
    top: 0%;
    left: 0%;
    padding: 0%;
    background-color: white;
    & .checkbox {
        display: table;
        margin-top: 5%;
        margin-left: 5%;
        width: 100%;
         & mat-checkbox {
             display: table-cell;
         }
         & p{
             display: table-cell;
         }
    }
    & mat-card-actions {
        display: table;
        width: 100%;
        margin-top: 5%;
        text-align: center;
        & button{
            display: table-cell;
        }
    }

    & mat-card-footer {
        width: 100%;
        min-height: 60px;
        margin: 0%;
    }
}