<div class="dragon-capture-div h100" fxLayout="column">
  <app-instruction-bar [mascotImage]="contentData.mascotHead" [mascotBgColor]="contentData.mascotBg" [instructions]="contentData.instructionBarContent"></app-instruction-bar>
  <div class="dragon-capture2-main-wrap">
    <div class="input-div">
      <app-input-coordinate class="input-section" [contentData]="contentData" (errorMsgFlag)="hideMsgData($event)" [clearDataFlag]="clearDataFlag"
        (inputData)="receivedInput($event)"></app-input-coordinate>
    </div>
    <div class="dragon-capture2-wrap">
      <app-dragon-output-section class="output-section" [contentData]="contentData" (clearInputFlag)="clearInputText($event)"></app-dragon-output-section>
    </div>
  </div>
</div>