.checkbox {
  display: table;
  margin-top: 5%;
  width: 100%;
  font-size: 18px;
  & mat-checkbox {
    display: table-cell;
  }
  & p {
    display: table-cell;
    font-weight: 500;
    padding-left: 20px;
  }
}

mat-card-actions {
  margin: 5% 0 0 0;
  text-align: center;
  & img {
    width:24%;
    cursor: pointer;
  }
}

.error-msg{
  margin: 0;
}
.mat-card-content{
  margin: 50px 30px 0 30px;
}

