.checkbox {
  display: table;
  margin-top: 5%;
  margin-left: 5%;
  width: 100%;
  font-size: 18px;
  & mat-checkbox {
    display: table-cell;
  }
  & p {
    display: table-cell;
  }
}

mat-card-actions {
  display: table;
  width: 100%;
  margin-top: 5%;
  text-align: center;
  & button {
    display: table-cell;
  }
}

.error-msg{
  margin: 0;
}
.mat-card-content{
  margin-top: 50px; 
}

