.drop-zone {
    width: 100%;
    background-color: #575360;
    user-select: none;
  }
  
  .drop-image {
    height: 65px;
    width: 100px;
    position: relative;
  }
  
  .step-number {
    width: 94px;
    height: 71px;
    background-color: #73dcff;
    box-sizing: border-box;
    border-radius: 80px;
    margin-left: -30px;
    position: relative;
    font-family: Quicksand;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
  }
  
  .step-text {
    font-family: Quicksand;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
  }
  
  .check-button {
    border-radius: 20px;
    background-color: rgb(140, 197, 62);
    color: white;
    margin-top: 2px;
    margin-bottom: 12px;
    width: 100px;
    min-height: 40px;
    font-size: 18px;
  }
  
  .error-msg {
    width: 100%;
    position: relative;
    left: 0;
    z-index: 3;
    height: 55px;
    margin-top: 5px;
  }
  
  .label {
    width: 270px;
    height: 59px;
    background: inherit;
    background-color: rgba(255, 176, 60, 1);
    border-radius: 15px;
    font-family: Quicksand;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #144040;
    text-align: center;
    margin-left: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 5px;
    margin-bottom: 3px;
  }