.radio-btn-header {
    padding: 40px;
    font-family: Quicksand;
    background-color: #13BCE4 ;
    font-weight:bold;
}
.radio-btn-header{
    margin: 0;
}
@media only screen and (max-width:1440px){
.radio-btn-header {
    font-size: 17px!important;
}
}