.continue-button {
    width: 170px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #fff;
    border-radius: 150px;
    background-color: transparent;
    box-shadow: none;
    border: #fff 1px solid;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.continue-icon {
  position: relative;
  //margin-left: -10px;
 // margin-top: -5px;
  z-index: 1;
  width: 23.5px;
  height: 23.5px;
  margin: 0 0 0 -5px;
  padding: 0 5px 0 0px;
}

.button-text {
  display: inline-block;
  margin-left: 7px;
  margin-top: -5px;
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}