<div class='drag-zone' [ngClass]="{'algo-drag-zone': !diffLook }">
  <div *ngIf="diffLook" class="question-comp" fxLayoutAlign="start center">
    <app-quiz-question [question]='algo.question' [style]="questionCompStyle"></app-quiz-question>
  </div>
  <div fxLayout="column">
    <!-- <div *ngFor="let step of algo.steps;let i = index" fxFlex="100"> -->
      <!-- <app-algo-step fxLayoutGap="30px" class="algo-step-container" [msg]="step" [seq]="i" [splitStep]="diffLook" (displayError)="error($event)"></app-algo-step> -->
    </div>
  </div>
</div>