.algo-steps-wrapper {
    margin-top: 5%;
}

.speech-box {
    width: 420px;
    padding: 30px;
    border-radius: 20px;
    font-family: Quicksand;
    font-size: 24px;
    color: #fff;    
    background-color: rgb(62, 58, 72);
    position: relative;
    margin:0 0 30px 30px;
}

.speech-box:after {
    content:"";
    border-style: solid;
    position: absolute;
    border-color: rgb(62, 58, 72) transparent transparent transparent;
    border-width: 25px 25px 0px 25px;
    bottom: -25px;
    right: 80px;
}

.step-wrapper {
    position: relative;
}

.correct-step-container-active {
  width: 100%;
  min-height: 75px;
  background-color: white;
  border-radius: 30px 0px 0px 30px;
  position:relative;
  margin: 0 0 30px 0;
  top: 15px;
}

.correct-step-container {
  float: right;    
  width: 90%;
  height: 75px;
  border: 2px solid #FFFFFF;
  background-color: transparent;
  position: relative;
  margin: 30px 0;
  border-radius: 50px 0px 0px 50px;
}

.step-number {
  min-width: 75px;
  min-height: 75px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  position:absolute;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.34902) 5px 5px 5px;
  font-family: Quicksand;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  color: rgb(35, 31, 46);
}

.step-text-active {
    font-family: Quicksand;
    font-size: 22px;
    padding-left: 120px;
  }
  
  .step-text {
    font-family: Quicksand;
    font-size: 20px;
    color: #FFFFFF;
    margin: 0;
    padding:0px 50px 0px 70px;
  }
  
  .mascot-image {
      width: 40%;
      margin-left: 18%;
  }
 
.step-wrapper img {
    width: 100%;
}

.active {     
    padding-top: 35px; 
    background-color: #73dcff;
    color: #FFFFFF;
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 1440px) {
    /* css on 8th June */
    .speech-box {
        width: 55%;
        font-size: 18px;
    }
    .speech-box .arrow  {   left: 0;
        right: -74px;
        margin: 0 auto;
        width: 2px;}
}

@media only screen  and (max-width:1190px){
    .step-text-active {
        margin:0;
        font-size:18px;}
        
    .active[_ngcontent-c10] {
        padding-top: 25px;
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-height:900px){
    .mascot-image {
        width: 35%;
    }
    .speech-box{
        width: 335px;
        font-size: 18px;
        margin: 0 0 20px 30px;
    }
    .speech-box:after{
        border-width: 20px 20px 0px 20px;
        bottom: -19px;
    }
}