.drag-zone {
    width: 100%;
    background-color: #575360;
    user-select: none;
    padding-bottom: 10px;
    position: relative;

  }

  .question-comp {
    background-color: #ECD45B;
    width: 100%;
    height: 150px;
    position: relative;
  }