
.output-div  {
    width: 100%;
    display: block;
    position: relative;
    & .background-image {
        width: 100%;
        display: block;
    }
    & .gems-stone{
        position: absolute;
        width: 8%;
        margin-left: 5.5%;
        margin-top: 3%;
        transform: rotate(60deg);
    }
    & .mascot-top-view{
        position: absolute;
        width: 5%;
        margin-top: 1.5%;
        margin-left: 6.5%;
    }
    & .flask-image{
        position: absolute;
        top: 15%;
        left: 35%;
        width: 40%;
        height: 75%;
    }
    & .dragon-image{
        position: absolute;
        width: 20%;
    }
}