<div class="landing-page-wrapper">
  <div class="landing-page-bg">
    <img [src]='landingBg' alt="" />
    <div class="content-div" fxLayout="column">
      <h1>koda</h1>
      <p>A self-learning coding platform for kids.</p>
      <button mat-button routerLink="/choose-avatar">
        Explore now
      </button>
    </div>
  </div>
  <div class="intro-to-game" fxLayout="row">
    <div fxFlex="50" class="mascot-img">
      <img [src]='mascothandstretch' alt="" />
    </div>
    <div fxFlex="50" class="intro-to-game-text">
      <h4>It's a fun journey which improves their logical skills and enhances their creative thinking skills.</h4>
    </div>
  </div>
  <div class="intro-description">
    <p>It is a well-known fact that the education of yesterday won't help our children solve problems of tomorrow. Therefore,
      leading educators have emphasized the importance of imbibing 21st Century Skills (Creativity, Critical Thinking, Collaboration
      and Communication) in our education. Koda is a block-based coding platform which explicitly focuses on developing these
      skills in a child. Designing their own games also help in building the computational thinking skills of children, which
      prepares them to solve complex problems across other domains/subjects as well.</p>
    <h3 fxLayoutAlign="space-around center">Join today and
      <br>experience yourself!</h3>
  </div>
</div>