.heading-container {
    margin: auto;
    padding-top: 7%;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Quicksand';
    font-size: 93px;
    color: #FFFFFF;
}
.badge-name {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #cd8800;
    font-family: 'Quicksand';
    font-size: 21.8px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    bottom: 19%;
    z-index: 999;
}

.items {
    position: absolute;
    width: 50%;
    z-index: 100;
}

.left-item {
    left: 0%;
    top: 40%;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.right-item {
    right: 0%;
    top: 28%;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.continue-icon {
  position: relative;
  z-index: 1;
  width: 23.5px;
  height: 23.5px;
  margin: 0 0 0 -5px;
  padding: 0 5px 0 0px;
}

.button-text {
  display: inline-block;
  margin-left: 7px;
  margin-top: -5px;
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}

.confetti {
    width: 25%
}

.left {
    float: left;
    margin-left: 5%;
}

.right {
    float: right;
    margin-right: 5%;
}

.mat-ripple {
    overflow: auto;
}

.badge-containero-outer {
    position: relative;
    width: 35%;
    margin: 0 auto 0;
    padding-top: 13%;
}

.badge-container img {width: 100%;}

.badge-container {
    position: relative;
    z-index: 999;
}

@media only screen and (max-width:1580px){
    .heading-container {
         font-size: 50px;
         padding-top: 4%;
     }
     .badge-name{
        font-size: 16px;
     }
}

@media only screen and (max-height:930px){
    .badge-containero-outer{
        padding-top: 9%;
        width: 30%;
    }
    .badge-name {
        bottom: 20%;
    }
    .heading-container {
        font-size: 73px;
        padding-top: 2%;
    }
}


@media only screen and (max-height:800px){
    .badge-containero-outer{
        padding-top: 7%;
        width: 28%;
    }
    .heading-container {
        font-size: 50px;
    }
}