<app-narration-container [bgColor]="badgeBGColor" class="animated zoomIn">
  <img class="confetti left" src="./assets/misc_images/confetti.gif">
  <img class="confetti right" src="./assets/misc_images/confetti.gif">
  <div class="heading-container">
    <span class="heading">{{pageData.heading}}</span>
  </div>
  <div class="badge-containero-outer">
    <img class="items left-item animated zoomInUp" [src]="pageData.mascotImg">
    <div class="badge-container">
      <img class="badge" src="./assets/misc_images/badge.png">
    </div>
    <span class="badge-name">{{pageData.badge}}</span>
    <img class="items right-item animated zoomInUp" [src]="avatarImg">
  </div>
  <app-continue-button (click)="buttonClicked()" [pageData]="pageData"></app-continue-button>
</app-narration-container> 