<app-instruction-bar [mascotImage]="algorithmObj.mascotImage" [mascotBgColor]="algorithmObj.mascotBg" [instructions]="algorithmObj.instructionBarContent"></app-instruction-bar>
<app-loading *ngIf="loading"></app-loading>
<div fxLayout="row" *ngIf="!loading">
  <div fxLayout="column" fxFlex="50">
    <!-- <app-drag-zone [algo]="algorithmSteps" (displayError)="errorShown($event)" [questionCompStyle]="questionStyling" [diffLook]='diffPage'
      class="drag-zone"></app-drag-zone> -->
  </div>
  <div fxLayout="column" fxFlex="50">
    <!-- <app-drop-zone #dropZone [algo]="algorithmSteps" (correctSequence)="correctSequence($event)" [diffLook]='diffPage'></app-drop-zone> -->
  </div>
</div>
