.error-wrap{
  background: #EE5862;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.error-container {
  color: #FFFFFF;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding:0 25px;
}

.error {
  position: absolute;bottom: 0;
}
@media only screen and (max-width: 1440px) {
  .error-container {
    font-size: 14px;
  }
}
