<div class="game-elements h100" fxLayout="column">
  <app-instruction-bar [mascotImage]="gameElementsData.mascotImage" [mascotBgColor]="gameElementsData.mascotBg" [instructions]="gameElementsData.instructionBarContent"></app-instruction-bar>
  <div fxLayout="row">
    <div fxFlex="50" fxLayoutAlign="space-around start">
      <app-select-elements-zone [gameInfo]="gameElementsData"></app-select-elements-zone>
    </div>
    <div fxFlex="50" fxLayoutAlign="space-around start">
      <app-sorted-elements-zone></app-sorted-elements-zone>
    </div>
  </div>
</div>
