// @mixin box-shadow-2($args1, $args2) {
//     -webkit-box-shadow: $args1, $args2;
//     -moz-box-shadow: $args1, $args2;
//     box-shadow: $args1, $args2;
// }

@mixin generate-pad-mar($n,$d,$t,$in) {
    $num: 0;
    @while $num <= $n {
        .m-#{$t}-#{$num} {
            margin-#{$d}: #{$num}px !important;
        }
        .p-#{$t}-#{$num} {
            padding-#{$d}: #{$num}px !important;
        }
        $num: $num + $in;
    }
}
@mixin generate-pad-mar-all($n,$in) {
    $num: 0;
    @while $num <= $n {
				.p-#{$num} {
            padding: #{$num}px !important;
        }
        .m-#{$num} {
            margin: #{$num}px !important;
        }
        $num: $num + $in;
    }
}

@mixin box($width, $height) {
    width: $width;
    height: $height;
}
@mixin relative($relative, $top, $left, $margin) {
    position: $relative;
    top: $top;
    left: $left;
    margin: $margin;
}

@mixin border-radius($radius){
    -moz-border-radius: $radius;
-webkit-border-radius: $radius;
-o-border-radius: $radius;
}
//--------------------- Box shadow
@mixin box-shadow($shadow, $inset: false) {
    @if $inset {
      -webkit-box-shadow: inset$shadowr;
      -moz-box-shadow: inset $shadow;
      box-shadow: inset $shadow;
    }
    @else {
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
      box-shadow: $shadow;
    }
  }