$bodyBG: #1e192a;
$white: #ffffff;
$blue:#00bbe5;
$yellow:#ffe655;
$aqua: #95bebe;
$darkGrey: #57535f;
$success: #22c36a;
$grey: #3e3a48;
// Text-Colors
$greyTextColor: $grey;
$highlightedBg: #73ddfd;
$confirmToast:#e64461;

$dashboardBG: #e5f0f1;
