<div class="character-positioning-div">
  <div class="action-zone">
    <div class="activity-screen" #myBounds>
      <img class="background-position" [src]="backgroundImage" alt="0">
      <div ngDraggable #block="ngDraggable" class="drag-block" [handle]="myHandle" id="{{ data.className }}" *ngFor="let data of contentData.dragImageContent;let i = index;"
        [bounds]="myBounds" [inBounds]="inBounds" [position]="{x: position[i].x , y: position[i].y}" (started)="onDragBegin($event)"
        (stopped)="onDragEnd($event)" (endOffset)="onMoveEnd($event)">
        <img class="{{ data.className }}" id="{{ data.className }}" src="{{data.imagePath}}" alt="{{(i+1)}}">
        <div #myHandle class="drag-block-handle">
        </div>
      </div>
      <!-- <input type="button" class="coord-data" id="{{'input'+ i }}" [(ngModel)]='inputText[i]' [hidden]="coord[i]" *ngFor="let data of contentData.dragImageContent;let i = index;"
        [ngStyle]="{'top': topShift[i] + 'px', 'left': leftShift[i] + 'px'}"> -->
    </div>
    <div class="action-screen">
      <div class="action-button" (click)="checkList()">
        <img src="assets/icons/white_tick.png" alt="">
        <span>
          DONE
        </span>
      </div>
    </div>
  </div>
  <div class="feedback">
    <img class="lockIcon" [src]="lockIcon" alt="">
  </div>
</div>