<div fxLayout="column">
  <div class="icon-wrap">
  <app-instruction-bar [mascotImage]="quizData.mascotImage" [mascotBgColor]="quizData.mascotBg" [instructions]="quizData.instructionBarContent"></app-instruction-bar>
  <button mat-fab *ngIf="quizData.hint" (click)="hintDialog($event)" class="button">
    <img class="icon" src="./assets/icons/hint_open.svg" alt="">
  </button>
</div>
  <button mat-fab *ngIf="quizData.preview" (click)="previewDialog($event)" class="button">
    <img class="icon" src="./assets/icons/preview_open.svg" alt="">
  </button>
  <div fxLayout="row" fxLayoutGap="10px">
    <div *ngIf="quizData.mediaLink" class="img-placeholder" [fxFlex]="flexLeft" fxLayoutAlign="space-around center">
      <img class="gameImage" [src]="quizData.mediaLink" alt="game video">
    </div>
    <mat-card [fxFlex]="flexRight" class="quiz-zone">
      <div class="question-comp">
        <app-quiz-question [question]='quizData.question'></app-quiz-question>
      </div>
      <ng-content></ng-content>
    </mat-card>
  </div>
</div>
