.narration-container {
    background-color: rgba(19, 188, 228, 1);
    text-align:center;
    height: calc(100vh - 114px);
    position: relative;
}

.transparent {
    background-color: transparent;
}