.drop-image {
  height: 70px;
  width: 100px;
  position: relative;
}

.step-number {
  width: 105px;
  height: 73px;
  box-sizing: border-box;
  border-radius: 80px;
  margin-left: -30px;
  position: relative;
  font-family: Quicksand;
  font-size: 30px;
  text-align: center;
  z-index: 2;
}

.step-text {
  font-family: Quicksand;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
}
