.drop-image {
    height: 80px;
    position: relative;
  }
  
  .step-number {
    width: 85px;
    height: 75px;
    box-sizing: border-box;
    border-radius: 80px;
    margin-left: -35px;
    position: relative;
    font-family: Quicksand;
    font-size: 30px;
    text-align: center;
    z-index: 2;
    background-color: #00CAFE;
    color:white;
    margin-top: -2px;
  }
  
  .step-text {
    font-family: Quicksand;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 500;
    padding: 0 10px;
    color: #57535f;

  }
  
  .correct-step-container {
      height: 70px;
      width:100%;
      background-color: white;
    }

    .icon{
      width: 80px;
      height: 80px;
    }

    .step-image {
      width: 85px;
      height: 75px;
      border-radius: 80px;
      margin-left: -35px;
      z-index: 2;
      margin-top: -2px;
    }
