  <div class="output-div">
    <img class="background-image" [src]="contentData.backgroundImage" alt="">
    <img class="grape-image"  [src]="contentData.grapeImage"[ngStyle]="{'top': topGrapeShift, 'transition': grapesTransitionTime,
    'z-index': initialIndex}" alt="">
    <img class="fox-image"  [src]="foxImage" [ngStyle]="{'top': topShift, 'left': leftShift, 'transition': transitionTime}"
      alt="">
    <app-speech-bubble [speechContent]="speechData">
      {{message}}
    </app-speech-bubble>
  </div>
  
