.checkbox {
  font-size: 24px;
  display: table;
  margin-top: 5%;
  & mat-checkbox {
    display: table-cell;
  }
  & p {
    display: table-cell;
    font-weight: 500;
    font-size: 22px;
    padding-left: 20px;
  }
}

mat-card-footer {
  margin: 0;
}

mat-card-content {
  padding: 40px 20px 10px 20px;
}
