.output-div  {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    & .background-image {
        width: 100%;
        height: 100%;
        display: block;
    
    }
    & .hidden-box {
        position: absolute;
        height: 14%;
        width: 11%;
        overflow: hidden;
        margin-left: 0.5%;
        margin-top: 0.5%;
    }
}