.output-div  {
    width: 100%;
    display: block;
    position: relative;
    & .background-image {
        width: 100%;
        display: block;
    }
    & .character-image {
        position: absolute;
        width: 15%;
        height: 25%;
        top: 40%;
        left: 70%;
    }
    & .hidden-box {
        position: absolute;
        height: 14%;
        width: 11%;
        overflow: hidden;
        margin-left: 0.5%;
        margin-top: 0.5%;
        & .hidden-container-image {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            left: 0px;
        }
    }
    & .background-cover-shield {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
    }
    & .treasure-dot {
        height: 20px;
        width: 20px;
        margin-left: 5%;
        margin-top: 4%;
        position: absolute;
    }
    & .over-the-shield {
        position: absolute;
        height: 14%;
        width: 11%;
        overflow: hidden;
        margin-left: 0.5%;
        margin-top: 0.5%;
    }
}