.avatar-wrap {
    width: 25%;
    margin: 0 auto;
    height: 80vh;
    position: relative;
}
figure.img-div{
    padding: 0;
    position: absolute;
    width: 90%;
    left:0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}

.img-div img{
    width:100%;
}

.speechbubble-position {
    position: absolute;
    top: 20%;
    text-align: center;
    right: -70px;
    left: 0;
    width: 460px;
    margin: 0 auto;
}

@media(max-height:800px) {
    .avatar-wrap{
        height: 90vh;
    }
}

@media(max-width:1875px){
    .speechbubble-position{
        top: 15%;
    }
    .avatar-wrap{
        width: 350px;
    }
}
@media(max-height:755px) {
    .avatar-wrap {
        width: 280px;
    }
}
