.avatar-wrap {
    width: 30%;
    margin: 0 auto;
    height: 90vh;
    position: relative;
}
figure.img-div{
    padding: 0;
    position: absolute;
    width: 90%;
    // height: 532px;
    left:0;
    right: 0;
    margin: 0 auto;
    bottom: 10.5%;
}

.img-div img{
    width:100%;
}

.speechbubble-position {
    position: absolute;
    bottom: 80%;
    text-align: center;
    right: -130px;
    left: 0;
    width: 460px;
    margin: 0 auto;
}

@media(min-height:620px) and (max-height:720px) {
    .avatar-wrap {
        width: 25%;
    }

    figure.img-div {
        bottom:30px;
    }

    .speechbubble-position{
        bottom: 460px;
    }
}

@media(min-height:662px) and (max-height:870px) {
    
    figure.img-div {
        bottom:30px;
        width: 77%;
    }
}

@media(min-width:1700px) {
    .avatar-wrap {
        width: 25%;
    }
}
