.dropdown {
  display: table;
  margin-top: 2%;
  margin-left: 20%;
  color: black;
  width: 100%;
  & p {
    display: table-cell;
    width: 20%;
  }
}

mat-card-footer {
  width: 100%;
  min-height: 60px;
  margin-top: 5%;
  margin-left: 0%;
  & button {
    margin-left: 45%;
  }
}

.success-background {
  background-color: green !important;
}

.final-success {
  background-color: white !important;
}
