.dropdown {
  display: table;
  color: black;
  width: 100%;
  padding: 2% 0% 20px 25%;
  box-sizing: border-box;
  & p {
    display: table-cell;
    width: 20%;
    font-weight: 500;
    font-size: 20px;
  }
}

mat-card-footer {
  width: 100%;
  margin:5% 0 0 0;
  & button{
    background: transparent;
    border: 0;
    width: 25%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    &:focus{
      outline:none;
    }
    img{
      width: 100%;
    }
  }
}

.success-background {
  background-color: green !important;
}

.final-success {
  background-color: white !important;
}
