.dropdown {
  display: table;
  margin-top: 2%;
  margin-left: 20%;
  color: black;
  width: 100%;
  & p {
    display: table-cell;
    width: 20%;
  }
}

mat-card-footer {
  width: 100%;
  margin:5% 0 0 0;
  & button{
    background: transparent;
    border: 0;
    width: 25%;
    margin: 0 auto;
    display: block;
    img{
      width: 100%;
    }
  }
}

.success-background {
  background-color: green !important;
}

.final-success {
  background-color: white !important;
}
