.dropdown {
  display: table;
  margin-top: 2%;
  padding-left: 25%;
  color: black;
  width: 100%;
  box-sizing: border-box;
  & p {
    display: table-cell;
    width: 20%;
    font-size: 18px;
    font-weight: 500;
  }
}

mat-card-footer {
  width: 100%;
  min-height: 60px;
  margin-top: 5%;
  margin-left: 0%;
  & button {
    margin-left: 45%;
  }
}

mat-card-content{
  margin: 45px 0 0 0;
}
.final-success {
  background-color: white !important;
}

.error{
  background: #EE5862;
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 9;
  
}

.mat-card-footer button.submit-button {
  width: 25%;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}

.mat-raised-button[disabled]{
  background: transparent;
}

.submit-button img{
  width: 100%;
}

.mat-raised-button:not([disabled]):active:not([class*=mat-elevation-z]),.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.mat-button-ripple:focus{
  outline: none;
}

