@import 'color';
@import 'variables';
@import 'mixins';
  
.main-container {
  height: 92vh;
  background-color: $theme;
  padding: 0 3%;
}

.koda-body{
    background: $bodyBG;
      & .level-box {
        width: 100%;
        height: 57px;
        margin-bottom: 5px;
        background-color: #9f9ba2;
      }
     
      & .blue-btn{
        height: 30px;
        line-height: 30px; 
        background: $blue;
        color:$white;
        border: none;
        overflow: hidden;
        @include border-radius(20px);
        @include box-shadow(none);
    
      }
}