// mixns and colors breakpoints
@import 'mixins.scss';
@import 'color.scss';
@import 'breakpoints.scss';

.mars-rover-div {
    height: 100%;
    & .input-section {
        width: 100%;
        height: 100%;
    }
    & .output-section {
        width: 100%;
        height: 100%;
    }
}

.input-div {
        background-color: #3e3a48;
}