<div class="mars-rover-div h100" fxLayout="column">
  <app-instruction-bar [mascotImage]="contentData.mascotHead" [mascotBgColor]="contentData.mascotBg" [instructions]="contentData.instructionBarContent"></app-instruction-bar>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="40" fxLayoutAlign="space-around start" class="input-div">
      <app-mars-input-section class="input-section" [contentData]="contentData" [clearDataFlag]="clearDataFlag" (hideMsgData)="hideMsgData($event)" (receiveInput)="receiveInput($event)" ></app-mars-input-section>
    </div>
    <div fxFlex="60" fxLayoutAlign="start space-around">
      <app-mars-output-section class="ouput-section" [contentData]="contentData" (clearInputFlag)="clearInputText($event)" ></app-mars-output-section>
    </div>
  </div>
</div>