<div class="mars-rover-div h100">
  <app-instruction-bar [mascotImage]="contentData.mascotHead" [mascotBgColor]="contentData.mascotBg" [instructions]="contentData.instructionBarContent"></app-instruction-bar>
  <div class="mars-rover-act-wrap">
    <div class="input-div">
      <app-input-coordinate class="input-section" [contentData]="contentData" (errorMsgFlag)="hideMsgData($event)" [clearDataFlag]="clearDataFlag" (inputData)="receivedInput($event)"></app-input-coordinate>
    </div>
    <div class="mars-output-sec-wrap">
      <app-mars-output-section class="output-section" [contentData]="contentData" (clearInputFlag)="clearInputText($event)" ></app-mars-output-section>
    </div><!-- mars-output-sec-wrap -->
  </div><!-- mars-rover-act-wrap -->
</div>