
// mixns and colors breakpoints
@import 'mixins.scss';
@import 'color.scss';
@import 'breakpoints.scss';

.select-character-div {
  height: 100%;
    & .character-selection {
        width: 100%;
        // height: 60%;
        color: #000;
    }
    & .character-display {
        width: 100%;
        height: 60%;
    }
}

