<div class="select-character-div h100" fxLayout="column">
  <app-instruction-bar [mascotImage]="characterData.mascotHead" [mascotBgColor]="characterData.mascotBg" [instructions]="characterData.instructionBarContent"></app-instruction-bar>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="50" fxLayoutAlign="space-around start">
      <app-character-selection-section class="character-selection" 
      [contentData]="characterData" 
        [errorFlag]='errorFlagStatus'></app-character-selection-section>
    </div>
    <div fxFlex="50" fxLayoutAlign="space-around start">
      <app-character-display-section class="character-display" ></app-character-display-section>
    </div>
  </div>
</div>
<!-- (errorFlagStatus)="errorFlag($event)" -->
<!-- (imageData)='recievedImagePath($event)' -->