    .formula {
      font-size: 18px;
      margin: 30px 30px 0;
      & input {
        text-align: center;
        display: table-cell;
        width: 8%;
        height: 30px;
        margin-left: 5%;
      }
      & p {
        display: table-cell;
      }
      & select {
        display: table-cell;
        width: 6%;
        height: 36px;
        margin-left: 5%;
      }
    }

  .mat-card-content{
    margin: 50px 0 0 0 ;
  }

    mat-card-footer {
      width: 100%;
      position: absolute;
      bottom: 4%;
      min-height: 60px;
      margin-left: 0%;
      float: bottom;
      & button {
        margin-left: 45%;
        margin-top: 1.2vh;
      }
    }

    .success-background {
      background-color: green !important;
    }
