<app-quiz-wrapper [quizData]="quizObj">
  <mat-card class="quiz-container">
    <app-quiz-question [question]='quizObj.question' [style]="stylingObj"></app-quiz-question>
    <mat-card-content>
      <div class="formula" *ngFor="let data of quizObj.options; let i = index;">
        <span [innerHTML]="data.question"></span>
        <select #selectInput (click)="selectValue($event, i, inputText.value)">
          <option id="0" value="+">+</option>
          <option id="1" value="-">-</option>
        </select>
        <input type="text" #inputText (input)="inputValue($event, i, selectInput.value)">
      </div>
    </mat-card-content>
    <mat-card-footer class="error-msg" [ngClass]="{'success-background': currentMsgStatus && !allCorrectFlag, 'final-success': allCorrectFlag}"
      [ngStyle]="{'background-color': showError ? '#EE5862' : 'white' }">
      <app-error-msg class="error" *ngIf="showError" [error]="error" [success]='currentMsgStatus'></app-error-msg>
      <button mat-raised-button *ngIf="!hideButtonFlag" class="submit-button" 
       (click)="submitAnswer()">SUBMIT</button>
    </mat-card-footer>
  </mat-card>
</app-quiz-wrapper>