// mixns and colors breakpoints
@import 'mixins.scss';
@import 'color.scss';
@import 'breakpoints.scss';
.input-section-inner-div{
    height: 100%;
    width: 100%;
    & .header-section{
        position: absolute;
        width: 100%;
        height: 20%;
        color: #3e3a48;
        background: #ecd45c;
    }
    & .input-section {
        position: absolute;
        background-color: #666666;
        width: 100%;
        height: 80%;
        top: 20%;
        & .listing {
            display: table;
            margin-top: 5%;
            margin-left: 5%;
            color: white;
            font-weight: 600;
            font-size: 1.4vw;
            font-family: 'Quicksand';
            & span {
                & img {
                    width: 1.4vw;
                }
            }
        }
    }
}

.hunt-wrapper {
    display: table;
}
.input-div{
    display: table-cell;
    vertical-align: top;
    width: 40%;
    background-color: rgba(215, 215, 215, 0.3);
    position: relative;
}
.dragon-output-wrap {
    display: table-cell;
    vertical-align: top;   
    width:59%;
    padding-left: 1%;
}