<div class='drop-zone'>
  <div fxLayout="column" fxLayoutGap="27px" style="padding: 40px 30px 17px 60px;">
    <div *ngFor="let step of algo.steps;let i = index;" fxLayout="column" fxFlex="100" fxLayoutGap="20px">    
        <app-drop-step [number]="i+1" style="width:100%;" (correctSequence)="correctSequence($event)" (displayError)="hideErrorMsg($event)"></app-drop-step>
    </div>
  </div>
  <span fxLayoutAlign="center start" *ngIf="!errorShow">
    <button mat-raised-button class="check-button" (click)="checkSequence()">{{algo.buttonText}}</button>
  </span>
  <span fxLayoutAlign="start center" class="error-msg" *ngIf="errorShow" [ngStyle]="{'background-color': errorShow ? '#EE5862' : 'white' }">
    <app-error-msg class="error" [error]="errorMsg"></app-error-msg>
  </span>
</div>
