// mixns and colors breakpoints
@import 'mixins.scss';
@import 'color.scss';
@import 'breakpoints.scss';

.position-character-div {
  height: 100%;
    & .position-validation {
        width: 100%;
        background-color: white;
    }
    & .character-position {
        width: 100%;
        height: 60%;
        background-color: white;
    }
}
// .position-validation-div {
//     position: absolute;
//     width: 55%;
//     height: 65%;
//     background-color: green;
// }
// .checkbox{
//         position: absolute;
//         top: 0%;
//         left: 0%;
//         width: 100%;
//         height: 85%;
//         background-color: #1fc46e;
//         font-family: 'Quicksand';
//     }
    
//     .tray {
//         position: absolute;
//         width: 100%;
//         height: 15%;
//         left: 0%;
//         bottom: 0%;
//         display: inline-flex;
//         background-color: rgba(62, 58, 73, 1);
//     }  
    
//     .image-tray{
//         position: absolute;
//         display: inline-flex;
//         height: 90%;
//         width: 32%;
//         top: 5%;
//         background-color: #333333;
//     }
    
//     .image-tray1{
//         left: 1%;
//     }
    
//     .image-tray2{
//         left: 34%;
//     }
    
//     .image-tray3{
//         left: 67%;
//     }

//     .lockIcon{
//         position: absolute;
//         width: 20px;
//         left: 45%;
//         top: 30%;
//     }

//     .checklist-div{
//         position: absolute;    
//         height: 60%;
//         width: 60%;
//         top: 15%;
//         left: 20%;
//     }
//     .checklist-error-div{
//        position: absolute;    
//         height: 20%;
//         width: 100%;
//         top: 80%;
//         left: 0%;
//         text-align: center;
//         background-color: #c75c5c; 
//     }     
//     .checklist-header{
//         position: absolute;
//         height: 10%;
//         width: 100%;
//         top: 0%;
//         left: 0%;
//         text-align: center;
//         font-family: 'Quicksand';
//         font-weight: 600;
//         font-size: 1.2vw;
//         color: white;
//     }
    
//     .checklist-body{
//         position: absolute;
//         width: 100%;
//         height: 90%;
//         top: 10%;
//         left: 0%;
//         text-align: center;
//         font-size: 1vw;
//         color: white;
//     }
//    .checklist-content1{
//        position: absolute;
//        height: 15%;
//        width: 80%;
//        left: 10%;
//        top: 10%;
//    }

//    .checklist-content2{
//        position: absolute;
//        height: 15%;
//        width: 80%;
//        left: 10%;
//        top: 35%;
//    }

//    .checklist-content3{
//        position: absolute;
//        height: 15%;
//        width: 80%;
//        left: 10%;
//        top: 60%;
//    }

//    .checklist-content4{
//        position: absolute;
//        height: 15%;
//        width: 80%;
//        left: 10%;
//        top: 85%;
//    }

//    .checklist-content-title{
//        position: absolute;
//        left: 0%;
//        top: 0%;
//        height: 100%;
//        width: 28%;
//        color: #1fc46e;
//        text-align: center;
//        background-color: white;
//        font-family: 'Quicksand';
//        font-weight: 600;
//     }
//     .checklist-content-title > p {
//         margin-top: 1vh;
//     }
    
//     .checklist-content-msg{
//         position: absolute;
//         left: 28%;
//         top: 0%;
//         height: 100%;
//         width: 52%;
//         background-color: white;
//     }
    
//     .checklist-content-marker{
//         position: absolute;
//         left: 84%;
//         top: 1%;
//         height: 90%;
//         width: 10%;
//         background-color: white;
//         border: 2px solid white;
//     }
//     .input-text-msg{
//         position: absolute;
//         height: 85%;
//         width: 99%;
//         left: 0%;
//         top: 5%;
//         color: white;
//         border: none;
//         text-align: center;
//         font-size: 0.8vw;
//         background-color: #1fc46e;
//     }

//     .checklist-content-marker > img{
//         position: absolute;
//         width: 40%;
//         top: 40%;
//         left: 30%;
//         color: #1fc46e;
//     }

//     .checklist-error-div > p {
//         font-size: 1vw;
//         margin-top: 2vw;
//         color: white;
//     }

//     .image-tray-list{
//        position: absolute;
//        height: 85%;
//        top: 5%;
//     }