<div class="position-character-div h100" fxLayout="column">
  <app-instruction-bar [mascotImage]="contentData.mascotHead" [mascotBgColor]="contentData.mascotBg" [instructions]="contentData.instructionBarContent"></app-instruction-bar>
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex="60" fxLayoutAlign="space-around start">
      <app-position-validation class="position-validation" [contentData]="contentData" [errorFlag]="errorFlag"></app-position-validation>
      <!-- <div class="position-validation-div"> -->
        <!-- <div class="checkbox">
          <div class="checklist-div">
            <div class="checklist-header">
              CHECK LIST
            </div>
            <div class="checklist-body">
              <div class="{{'checklist-content' + (i+1)}}" *ngFor="let checklist of contentData.checklist;let i = index;">
                <div class="checklist-content-title">
                  <p>{{checklist.characterName}}</p>
                </div>
                <div class="checklist-content-msg">
                  <input class="input-text-msg" type="text" name="" value="{{checklist.characterMsg}}" />
                </div>
                <div class="checklist-content-marker">
                  <img class="marker" [src]="marker" [hidden]="!checklist.checkListFlag" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="checklist-error-div" [hidden]="msgFlag">
            <p> {{contentData.errorMsgStatment}}</p>
          </div>
        </div> -->
        <!-- <div class="tray"> -->
          <!-- <div class="image-tray {{ 'image-tray' + (i + 1)}}" [style.background-color]="image.imageList.length !== 0 ? '#282431': '#625d62'"
            *ngFor="let image of contentData.imageTray;let i = index;">
            <img class="image-tray-list" [ngStyle]="{'left': ((x*25)+ 1*(x+1))+'%'}" *ngFor="let trayImage of contentData.imageTray[i].imageList;let x = index"
              src="{{trayImage}}" alt="">
            <img class="lockIcon" src="{{i === 2 ? lockIcon : addIcon}}" [style.left]="image.imageList.length !== 0 ? '85%': '45%'" alt="">
          </div>
        </div> -->
      <!-- </div> -->

      <!-- </div> -->
    </div>
    <div fxFlex="40" fxLayoutAlign="space-around start">
      <app-character-positioning class="character-position" [contentData]="contentData" [flagData]="flagData" (positionDetail)="receivedPosDetail($event)" (hideErrorMsg)="hideErrorMsg($event)"
      (taskFlag)="receiveWarning($event)" ></app-character-positioning>
    </div>
</div>
