.display-char-div {
    position: absolute;
    overflow: hidden;
    background-color: white;
    height: 60%;
    width: 46%;
    & .outer-div {
        position: absolute;
        height: 100%;
        width: 100%;
        & .activity-zone {
            position: absolute;
            width: 100%;
            height: 90%;
            & .monkey-position {
                position: absolute;
                height: 30%;
                top: 35%;
                width: 17%;
                left: 45%;
            }
            & .cap-position {
                position: absolute;
                height: 10%;
                width: 10%;
                bottom: 10%;
                left: 45%;
            }
            & .fruit-position {
                position: absolute;    
                height: 6%;
                width: 4%;
                top: 45%;
                left: 40%;
            }
            & .background-position{
                position: absolute;    
                height: 100%;
                width: 100%;
            } 
        }
        & .action-zone {
            position: absolute;
            width: 100%;
            bottom: 0%;
            background-color: #36323f;
            & .action-button {
                display: block;
                margin: 0 auto;
                width: 17%;
                padding: 15px 0;
                & img {
                    width: 100%;
                }
            }
            & .select-character-error {
                font-size: 1vw;
                font-family: 'QuickSand';
                color: white;
                text-align: center;
                margin-top: 3%;
            }
        }
    }
}


img {
    border: none!important;
    text-decoration: none!important;
    outline-style: none!important;
}


