// mixns and colors breakpoints
@import 'mixins.scss';
@import 'color.scss';
@import 'breakpoints.scss';

.treasure-hunt-div {
    height: 100%;
    & .hunt-wrapper{
        position: relative;
        & .hint-icon {
            height: 45px;
            position: absolute;
            right: 55px;
            top: -50px;
        }
    }
    & .input-section-inner-div{
         position: relative;
         height: 100%;
         width: 100%;
         background-color: gray;
        & .treasure-hunt-todo-list-image {
            height: 90%;
            width: 80%;
            margin-left: 10%;
            margin-top: 0%;
        }
        & .treasure-hunt-task-check{
                width: 40%;
                margin-top: -55%;
                margin-left: 25%;
                font-family: 'QuickSand';
                font-weight: 700;
                font-size: 1vw;
                & .list-header {
                    color: #754F28;
                }
                & .light-guideline {
                    color: #A58057;
                    font-style: italic;
                }
                & .listing {
                    display: table;
                    margin-top: 5%;
                    color: #6e4e27;
                    & span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                    & img {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
        }
    }
    & .output-section {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.input-div {
    background-color: rgba(215, 215, 215, 0.3);
    margin-right: 20px;
}