<div class="input-section-inner-div">
  <img class="treasure-hunt-todo-list-image" [src]="contentData.treasureScrollImage">
  <div class='treasure-hunt-task-check'>
    <p class="light-guideline">X is across, Y to the sky</p>
    <p class="list-header">The treasures are at:</p>
    <div class="listing" *ngFor="let list of contentData.taskList; let i = index;">
      <span>
          &#8226;&#32;({{ list.xCoord }}, {{ list.yCoord }})
      </span>
      <img class="correct-mark-image" [style.visibility]="chestList[i] ? 'hidden' : 'visible'" [src]="contentData.correctAnswerImage" alt="">
    </div>
  </div>
</div>