.text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #57535f;
    // padding: 0 20px;
  }
  
  .step-image {
    height: 90px;
    width: 90px;
    margin-left:-30px;
    position: relative;
    margin-top: -5px;
  }
  
  .algoSteps{
    height: 80px;
    width:100%;
    background-color: white;
   margin: 10px 10px;
  }