.hint-container {
  position: absolute;
  width: 30%;
  right: 3%;
  height: auto;
  & .hint-header {
    width: 50px;
    height: auto;
    float: right;
    & .hint-closed-new {
      height: 50px;
      cursor: pointer;
    }
    & .hint-cap-new {
      height: 30px;
      margin-top: -5px;
      width: 50px;
      border-radius: 5px 5px 0px 0px;
      background-color: white;
    }
  }
  & .hint-content-new { 
    width: 100%;
    background: white;
    margin-top: 75px;
    padding: 20px 0;
      & li {
        margin: 10% 5%;
      }
    }
  }
