<app-narration-container [bgColor]="bgColor">
<div fxLayoutAlign="space-around center" fxLayout="column">
  <div class="fork-mascot-img">
    <img [src]="mascotImageSrc" width="20%">
  </div>
  <h3 class="heading">{{headingQuestion}}</h3>
  <div class="fork-btn-wrap">
    <div class="fork-buttons" (click)="goLeft()">Practice with some
      <br>
      <span>ACTIVITIES</span>
    </div>
    <div class="fork-buttons" (click)="goRight()">Yes! I'm ready to
      <br>
      <span>TAKE THE CHALLENGE</span>
    </div>
  </div><!-- fork-btn-wrap -->
</div>
</app-narration-container>